.cart_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart_title--font{
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 0;
    font-family: 'Oxygen', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: orangered;

}
.cart_widget--font{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: orangered;
}

.cart_widget--vacio{
    display: inline-block;
    margin-left: 10px;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: orangered;
    transform: rotate(45deg);
}

.cartView_subtitulo{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}
