.hidden{
    visibility: hidden;
    pointer-events: none;
}

.cartWidget{
    display: flex;
    align-items: center;
}
.cartIcon {
    color:#9b9d9e;
    font-size: 28px;
    font-weight: bold;
}

.contador{
    color: orangered;
    text-decoration: underline;
    font-size: 14px;
    margin-left: 5px;
}