.navBar__text{
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
}    
.linkSubmenu {
    text-decoration: none;
    color:black;
}

.linkMenu {
    text-decoration: none;
    color:#9b9d9e;
}

.linkMenu:hover {
    text-decoration: none;
    color:white;
}
